{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["src/*"],
      "@generated/prisma": ["src/generated/prisma/client"],
      "@generated/prisma/*": ["src/generated/prisma/*"]
    },
    "keepClassNames": true
  },
  "module": {
    "type": "commonjs"
  },
  "minify": false
}
